@import "../../sassStyles/media_mixin";

.information {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-content {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;

    align-items: center;
    @include _600{
      width: 100%;
    }
  }

  &-title {
    //max-width: 420px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
  }

  &-text {
    //max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
  }

  &__use {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    @include _600 {
      flex-direction: column;
    }
  }

  &__cancel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    @include _600 {
      flex-direction: column;
    }
  }
}

.player-info {
  width: 45.5%;
  //width: 450px;
  height: 300px;
  @include _600{
    width: 100%;
  }
}