.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__tittle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
    margin-bottom: 35px;
  }

  &__btn-wrp {
    width: 420px;
    display: flex;
    justify-content: space-between;
  }
}