.forms-wrp {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .form {
    height: 300px;
    padding: 0;
    margin: 0;

    &__item {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 1s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      &__name {
        margin: 0;
        width: 220px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #95A1BB;
        text-align: justify;
        -ms-word-break: break-all;
        word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }
    }
  }
}

.page-pdf {
  width: 650px !important;
  height: 700px !important;
  color: #6E38F7;
}
